.btnEdit{
    width: 25%;
    margin: 1%;
    display:inline;
}

.button{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.alertedit{
    height: 45px;
    position: sticky;
}
.flexbox{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}